*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
h1{
    color: #1b74e4;
}
#searchbtn{
    background-color: black;
    color: white;
}
.userbtn{
    background-color: chocolate;
}
form{
    background-color: aqua;
}